<body class="Fondo">
    <header>
        <nav class="navbar bg-light">
            <div>
                <img src="assets/img/Logo.png" alt="Logo QuickJob" class="logo">
            </div>

            <div class="">
                <button class="btn btn-primary">Regresar</button>
                <button class="btn btn-primary">Ir al perfil</button>
                <button class="btn btn-primary">Cerrar sesión</button>
            </div>

        </nav>
    </header>
    <section>
        <div> <img src="assets/img/servicio.png" alt="sercicio" class="logoServicio"> </div>
        <form class="formServicio">
            <h1 class="ofrecerServicio">Ofrecer Servicio</h1>
            <select class="controls1" name="categoria" placeholder="Categoria">
                <option value="categoria">Categoria</option>
            </select>
            <select class="controls1" name="subCategoria" placeholder="Sub Categoria">
                <option value="subCategoria">Sub Categoria</option>
            </select>
            <input class="controls1" type="text" name="servicio" placeholder="Servicio">
            <textarea class="controls1" name="descripcion" cols="30" rows="10"></textarea>
            <button class="publicarServicio btn btn-primary">Publicar Servicio</button>
        </form>
    </section>
</body>