<body>
    <section>
        <div class="somos">
            <div class="row">
                <div class="texPortada">
                    <h1 class="title2">¿Quienes <br> Somos?</h1>
                    <p>Una plataforma web con el propósito de generar <br> una comunicación fácil, rápida y
                        segura <br>entre dos personas con el fin de adquirir <br> un servicio informal de empleo, <br>
                        en la cual se podrá registrar cualquier persona <br> que tenga un servicio a ofrecer o <br>
                        que desee adquirirlo.</p>
                    <button (click)="redirigirAInicial()" class="btn btn-info"><i
                            class=" return fa-solid fa-circle-arrow-left"></i></button>
                </div>
                <div class="imgPortada">
                    <img src="assets/img/pagina1.png" alt="" class="imgPortada">
                </div>
            </div>
        </div>
    </section>
</body>