<body class="Fondo">
    <section>
        <div class="container">
            <img src="assets/img/Logo.png" alt="" class="check">
        </div>

        <form>
            <h1 class="iniciarSesion">Iniciar Sesión</h1>
            <i class="fa-light fa-circle-user"></i>
            <input class="controls" type="text" name="correo" placeholder="Correo">
            <input class="controls" type="password" name="clave" placeholder="Contraseña">
            <button class="btn btn-primary">Confirmar</button>
        </form>
    </section>

</body>
