<body class="Fondo">
    <section>
       <div class="container">
        <img src="img/Logo.png" alt="" class="check">
       </div>
       
       <form action="">
        <h1 class="registrarse">Registrarse</h1>
        <input class="controls" type="text" name="nombre" placeholder="Nombre">
        <input class="controls" type="text" name="apellido" placeholder="Apellido">
        <input class="controls" type="text" name="identificacion" placeholder="Numero Identificacion">
        <select class="controls" name="tipoIdent" placeholder="Tipo Identificacion">
            <option value="Tipo Identificacion">Tipo Identificacion</option>
            <option value="CC">CC</option>
            <option value="CE">CE</option>
            <option value="Pasaporte">Pasaporte</option>
        </select>
        <input class="controls" type="text" name="correo" placeholder="Correo Electronico">
        <input class="controls" type="password" name="clave" placeholder="Contraseña">
        <legend >Fecha Nacimiento</legend>
        <input class="controls" type="date" name="fechaNacimiento">
        <a href="#" class="registro btn btn-primary">Registrarse</a>
       </form>
    </section>

</body>
